{% load static %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>

<body>
<div class="center">
<h2 align="center">Music From Your Past is a service where you can track down music that was popular when you were young. Music is often associated with positive memory, and we hope that by being able to deliver their favorite music from their your, we can provide a useful tool to improve the quality of care for patients in memory care programs.</h2>
</div>

<p><a href="{% url 'music:index' %}" class="button">Back</a>
</body>
</html>