{% load static %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>

<div class="center">
<h2>Please enter the details for playlist creation</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'music:chooseArtists' %}" method="post">
{% csrf_token %}
	<p>Age:</p><input type="number" name="age" min="1" max="110">
	{% if genres %}
	<p>Genres (choose up to five):</p><select name="genres1">
		<option value='none' selected>none</option>
		{% for genre in genres %}
		<option value="{{genre}}">{{genre}}</option>
		{% endfor %}
	</select>
	<select name="genres2">
		<option value='none' selected>none</option>
		{% for genre in genres %}
		<option value="{{genre}}">{{genre}}</option>
		{% endfor %}
	</select>
	<select name="genres3">
		<option value='none' selected>none</option>
		{% for genre in genres %}
		<option value="{{genre}}">{{genre}}</option>
		{% endfor %}
	</select>
	<select name="genres4">
		<option value='none' selected>none</option>
		{% for genre in genres %}
		<option value="{{genre}}">{{genre}}</option>
		{% endfor %}
	</select>
	<select name="genres5">
		<option value='none' selected>none</option>
		{% for genre in genres %}
		<option value="{{genre}}">{{genre}}</option>
		{% endfor %}
	</select>
	{% endif %}

	<p><input type="submit" value="Get Recommended Artists"></p>
</form>
</div>
</html>