{% load static %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>

{% if error_message %}
<body onload="alertUp('{{error_message}}')"></body>
{% endif %}

<div class="center">
<h1 align="center">Music From Your Past</h1>
<h2 align="center">music as memory therapy</h2>
<a href="javascript:loginSpotify('{{redirect_uri}}');" class="button">Log In With Your Spotify Account</a>
<a href="{% url 'music:about' %}" class="button">About Us</a>
</div>

<script type="text/javascript">
    function loginSpotify(redirect_uri){
        var client_id = '63dcea5ff7b040db9bd57e6f446fdc2a';
        {% if not redirect_uri %}
            var redirect_uri = 'http://localhost:8080/music/authUser/';
        {% endif %}
        // var redirect_uri = 'http://localhost:8080/polls/createPlaylist/';
        var url = 'https://accounts.spotify.com/authorize?client_id=' + client_id +
            '&response_type=code' +
            '&scope=playlist-read-private%20playlist-modify%20playlist-modify-private' +
            '&redirect_uri=' + encodeURIComponent(redirect_uri);
        var w = window.open(url,"_self");
    }

    function alertUp(error_message) {
        alert(error_message);
    }
</script>
</html>