{% load static %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>

<body>
<div class="center">
<h2>View all your playlists</h2>

{% if list_of_playlist_tuples %}
    <ul>
    {% for pname,pid in list_of_playlist_tuples %}
        <li><a href="/music/{{ pid }}/play">{{ pname }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No playlists are available.</p>
{% endif %}

<p><a href="{% url 'music:createPlaylist' %}" class="withtextbutton">Create Playlist</a></p>
</body>

</div>
</html>