<h1>Please enter the details for playlist creation</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:processPlaylist' %}
" method="post">
{% csrf_token %}
	Playlist Name:<input type="text" name="playlistName">
	Age:<input type="number" name="age" min="1" max="110">
	{% if genres %}
	Genres: <select name="genres" multiple>
		{% for genre in genres %}
		<option value="{{genre}}">{{genre}}</option>
		{% endfor %}
	</select>
	{% endif %}

	{% if artists %}
	Artists: <select name="artists" multiple>
		{% for artist in artists %}
		<option value="{{artist}}"></option>
		{% endfor %}
	</select>
	{% endif %}

	{% if tracks %}
	Tracks: <select name="tracks" multiple>
		{% for track in tracks %}
		<option value="{{track}}"></option>
		{% endfor %}
	</select>
	{% endif %}
<!-- Name, Age, Genre, Artists, Tracks-->
	<input type="submit" value="createPlaylist">
</form>
