{% load static %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>

<div class="center">
<h1 align="center">Music From Your Past</h1>
<h2 align="center">music as memory therapy</h2>
<a href="javascript:doLogin();" class="button">Log In With Your Spotify Account</a>
</div>

<script type="text/javascript">
	function doLogin(){
		var client_id = '52451274c0ed4367af773d2d957f5566';
		var redirect_uri = 'http://localhost:8000/callback.html';
		var url = 'https://accounts.spotify.com/authorize?client_id=' + client_id +
			'&response_type=token' +
			'&scope=playlist-read-private%20playlist-modify%20playlist-modify-private' +
			'&redirect_uri=' + encodeURIComponent(redirect_uri);
		var w = window.open(url,"_self");
	}
</script>
</html>